<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>
    
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h1>Editar de usuários</h1>
        </div>
        <div class="card-body">
            <form action="/admin/users/edit" method="post" id="formulario" onsubmit="confirma(event,this)">
                <input type="hidden" id="id" name="id" value="<%=user.id%>">
                <label for="">Email</label>
                <input type="email" class="form-control" placeholder="Email de Usuário" name="email" value="<%= user.email%>">
                <label for="">Senha</label>
                <input type="password" class="form-control" placeholder="Senha de Usuário" name="senha" id="senha">
                <label for="">Senha</label>
                <input type="password" class="form-control" placeholder="Senha de Usuário" name="confirmaSenha" id="confirmaSenha">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mt-5">Atualizar Usuário</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>
<script>

    function confirma(event,form){
        var senha = document.getElementById("senha");
        var confirmaSenha = document.getElementById("confirmaSenha");
        event.preventDefault();
        if(senha.value == confirmaSenha.value){
            form.submit();
        }else{
            alert("Senhas não conferem")
        }
        
    }
    
    </script>